APP_PASSWORD=twoje_haslo_do_dashboardu
WEBSCRAPINGAI_COMPAT_API_KEY=opcjonalny_osobny_sekret_dla_html
WEBSCRAPINGAI_KEY_01=twoj_pierwszy_klucz
WEBSCRAPINGAI_KEY_02=twoj_drugi_klucz
WEBSCRAPINGAI_KEY_03=twoj_trzeci_klucz
WEBSCRAPINGAI_KEY_04=twoj_czwarty_klucz
WEBSCRAPINGAI_KEY_05=twoj_piaty_klucz
WEBSCRAPINGAI_KEY_06=twoj_szosty_klucz
WEBSCRAPINGAI_KEY_07=twoj_siodmy_klucz
WEBSCRAPINGAI_KEY_08=twoj_osmy_klucz
WEBSCRAPINGAI_KEY_09=twoj_dziewiaty_klucz
WEBSCRAPINGAI_KEY_10=twoj_dziesiaty_klucz